* {
  font-family: 'Helvetica', sans-serif;
}
html,
body {
  font-size: 12px;
  line-height: 1.75;
}
/* Layouts */
.containerBackground {
  max-width: 100%;
}
.container-fluid {
  max-width: 1200px;
}
.bilingualbound {
  background-image: url('/img/bilingualbound.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}
.navbar {
  background-color: #e8aad7;
}
.navbar-toggler {
  background-color: #b2d8fa;
}
.navbar-collapse {
  background-color: transparent;
}

/* fonts */
h1 {
  font-family: 'Poppins', sans-serif;
  color: #3c3d3d;
  font-size: 50px;
}
h2 {
  text-align: center;
  color: #484949;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}

/* HOMEPAGE */
.freebies {
  background-color: #d4e0ff;
}
.freebies .card {
  margin-top: 0;
  margin-bottom: 0;
}
.newsletter {
  background-image: url('/img/newsletter.png');
  background-size: cover;
}
.newsletter .newsletter__email {
  flex-basis: 40%;
}

/* blog */
.blogHeader {
  background-image: url('/img/blog.png');
  background-size: cover;
  height: 500px;
  align-items: center;
  display: flex;
  align-items: center;
}
.page-link {
  background-color: transparent;
  border: none;
}

/* contact */
.contactHeader {
  background-image: url('/img/contact.png');
  background-size: cover;
  height: 500px;
  align-items: center;
  display: flex;
  align-items: center;
}
/* freebies */
.freebiesHeader {
  background-image: url('/img/freebies.png');
  background-size: cover;
  height: 500px;
  align-items: center;
  display: flex;
  align-items: center;
}
/* shop */
.shopHeader {
  background-image: url('/img/shop.png');
  background-size: cover;
  height: 500px;
  align-items: center;
  display: flex;
  align-items: center;
}
/* FOOTER */
.end {
  background-image: url('/img/footerBg.png');
  background-size: cover;
  color: white;
}

.social {
  font-size: 20px;
  color: white;
}
