* {
  font-family: 'Helvetica', sans-serif;
}
.row {
  max-width: 100;
  border: solid 2px red;
  padding: 2;
  margin: 2;
  max-width: 1920px;
}
.navbar {
  background-color: #fad1ff;
  color: #575757;
}
.navbar-toggler {
  border-color: #9de1d0;
  background-color: #51aa94;
}
.homepage {
  background-color: #f5f5ef;
  background-image: url('/img/altBg2.png');
  background-size: cover;
}
.slider {
  background-color: #f5f5ef;
}

h1 {
  font-family: 'Brush Script MT', cursive;
  color: #3c3d3d;
}
h2 {
  text-align: center;
  color: #484949;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}
h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* HOMEPAGE */
.freebies {
  background-image: url('/img/fondoall.png');
}
.blog {
  background-image: url('/img/blog1.png');
  background-size: contain;
}
.blog > h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.blogPost {
  background-color: white;
  opacity: 0.9;
}
.blogWrap {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.collapse {
  justify-content: center;
}
.shop {
  background-image: url('/img/fondoall.png');
  padding-top: 20px;
  padding-bottom: 90px;
}
.newsletter {
  background-image: url('/img/newsletter.png');
  background-size: cover;
}
/* FOOTER */
.pie {
  background-image: url('/img/footerBg.png');
  background-size: cover;
  color: white;
}
