body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.slider {
  background-color: #9de1d0;
}
.slideImg {
  width: 95%;
}
h1 {
  font-family: 'Brush Script MT', cursive;
  color: #3c3d3d;
}
h2 {
  text-align: center;
  color: #484949;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: optima;
}
.navbar {
  background-color: #158686;
  color: #ffffff;
  opacity: 0.7;
}
.navbar-toggler {
  border-color: #9de1d0;
  background-color: #51aa94;
}

.freebies {
  background-color: #9de1d0;
  padding: 90px;
}
.blog .blogpost {
  background-color: #f7f8fa;
}
.blog {
  background-color: #f3e7f7;
  text-align: center;
  padding: 20px;
}

.pie {
  background-color: #232323;
}

.collapse {
  justify-content: center;
}
.shop {
  background-color: white;
  padding: 40px;
}
.blogMain {
  align-items: center;
  margin-top: 20px;
}
