* {
  font-family: 'Helvetica', sans-serif;
}
html,
body {
  font-size: 12px;
  line-height: 1.75;
}
/* Layouts */

.containerBackground {
  max-width: 100%;
}
.freebies {
  background-image: url('/img/fondoall.png');
}
.bilingualbound {
  background-image: url('/img/bilingualbound.png');
}
nav {
  background-color: #e8aad7;
}
.container-fluid {
  max-width: 1200px;
}

.navbar-toggler {
  background-color: #b2d8fa;
}
.navbar-collapse {
  background-color: transparent;
}

.homepage {
  background-color: #f5f5ef;
  background-image: url('/img/altBg2.png');
  background-size: cover;
}
.slider {
  background-color: #f5f5ef;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #3c3d3d;
  text-align: center;
}
h2 {
  text-align: center;
  color: #484949;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}
/* HOMEPAGE */
.freebies {
  background-image: url('/img/fondoall.png');
}
.blog {
  background-image: url('/img/blog1.png');
  background-size: contain;
}
.blogPost {
  background-color: white;
}

.collapse {
  justify-content: center;
}
.shop {
  background-image: url('/img/fondoall.png');
  padding-top: 20px;
  padding-bottom: 90px;
}
.newsletter {
  background-image: url('/img/newsletter.png');
  background-size: cover;
}
.newsletter .newsletter__email {
  flex-basis: 40%;
}
/* FOOTER */
.end {
  background-image: url('/img/footerBg.png');
  background-size: cover;
  color: white;
}
.page-link {
  background-color: transparent;
  border: none;
}
.wrap {
  max-height: 120px;
}
.social {
  font-size: 20px;
  color: white;
}
